
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,600&family=Sacramento&display=swap');
 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "poppins",sans-serif;

 }
 :root{
    --main-color:#033a80;
    --bg-color:#fff;
    --text--color:#0f0c27;
    --hover:#04337096;
    --medium-font:1.8rem;
    --big-font:3.2rem;
    --p-font:0.941rem;

 }
 body{
    background: var(--bg-color);
    color:var(--text--color);
 }
 section{
    padding:50px 10%;
 }
 *::selection{
    color:var(--bg-color);
    background: var(--main-color);
 }

 header{
  position:relative;
  width:100%;
  top:0;
  right:0;
  z-index: 1000;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73,2px 2px 5px rgba(94,104,121,0.288); 
 }
 .logo{
  font-size: 1.61rem;
  font-weight: 600;
  color:#fff;
 }
 .navbar{
display:flex;
 }
 .navbar a{
  font-size: 1rem;
  padding:10px;
  color:#ffffffe6;
  font-weight: 500;
  /* background: var(--main-color); */
 }
 .navbar a:hover{
  background: #788ca796;;
 }
 #menu-icon{
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;

 }

 /* home section */
 .home{
    position:relative;
    width:100%;
    min-height:100vh;
    display:grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items:center;
    gap:1rem;
    /* background: #FFDEDE; */

 }
 .home-img{
    order:3;
    /* background: #98EECC; */
 }

 .home-img img{
    width:100%;
 }
 .home-img span{
    font-size: var(--medium-font);
    font-weight:500;
 }
 .home-text h1{
    font-size: var(--big-font);
 }
 .home-text h2{
font-size: 1.1rem;
font-weight: 400;
 }
 .home-text p{
      font-size: var(--p-font);
      font-weight: 500;
      margin:0.7rem 0 1 rem;
 }
 .social{
    display: grid;
    flex-direction: column;
    
 }
 .social a{
        margin-bottom: 1rem;
        font-size: 22px;
        color:var(--text--color);
 }
 .social a:hover{
    color:var(--hover);
 }
 .btn{
    display:inline-block;
    background: var(--main-color);
    color:#fff;
    padding:0.7rem 1.3rem;
    border-radius:0.5rem;
 }
 .btn:hover{
    background: var(--hover);
 }
 /* about section */
 .heading{
   text-align: center;
 }
 .heading h2{
   font-size:30px;
 }
 .heading span{
   font-size: var(--p-font);
   color:rgb(2,166,70);
 }
 /* .about{
   background: #FAF0E4;
 } */
 .about-container{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   gap:1rem;
   margin-top: 2rem;
 }
 .about-img{
   width:80%;
   border-radius: 0.5rem;
   
 }
 .about-text p{
       font-size: var(--p-font);
       font-weight: 500;
       text-align: justify;
 }
 .information{
   margin:1rem 0 1.4rem;

 }
 .information .info-box{
   display:flex;
   align-items: center;
   margin-bottom: 1.4rem;
 }
 .information .info-box .bx{
   font-size:22px;
 }
 .information .info-box span{
   font-weight:400;
   margin-left:1rem;
 }
 /* skills */
 .skills-container{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   align-items:center;
   gap:2rem;
   margin-top: 4rem;
 }
 .skills-img img{
   width:80%;
   padding-left:4rem;
   object-position:center;
 }
 .bars-box{
   position:relative;
   display:flex;
   justify-content: space-between;
   align-items: center;
   padding:1rem 0;
   margin-bottom: 1rem;
 }
 .bars-box h3,.bars-box span{
   font-size: 1.1rem;
   font-weight: 500;
 }
 .light-bar{
   position:absolute;
   bottom:0;
   left:0;
   width:100%;
   height:0.5rem;
   background: hsla(260,100%,44%,0.4);
   border-radius: 0.5rem;

 }
 .percent-bar{
   position:absolute;
   bottom:0;
   left:0;
   height:0.5rem;
   background:var(--main-color);
   border-radius: 0.5rem;
 }
 .python-bar{
   width:90%;
 }

 .java-bar{
   width:66%;
 }
 .html-bar{
   width:85%;
 }
 .js-bar{
   width:60%;
 }
 .angular-bar{
   width:70%;
 }
 /* projects */
 .projects-content{
   display:grid;
   grid-template-columns: repeat(auto-fit,minmax(200px,auto));
   justify-content: center;
   gap:4rem;
   margin-top: 2rem;
 }
 .projects-box{
   padding:20px;
   width:260px;
   display:flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   border-radius:0.5rem;
   border-bottom: 2px solid var(--main-color);
   box-shadow:4px 6px 7px rgba(19, 27, 26, 0.15);
 }
 .projects-box .bx{
   padding-top:2rem;
   font-size:54px;
   color:var(--main-color);
 }
 .projects-box h3{
   font-size: 1rem;
   font-weight: 600;
   margin:0.7rem 0 0.4rem;
 }
 .projects-box a{
   color:var(--main-color);
   font-size:var(--p-font);
   font-weight:500;
 }
 .projects-box:hover{
   background: #02225a;
 }
 .projects-box:hover h3{
   color:#fff;
 }
 .projects-box:hover .bx{
   color:#F7E6C4;
 }
 .projects-box:hover a{
   color:#F7E6C4;
}



.certification-content{
display:grid;
grid-template-columns:repeat(3,350px);
grid-auto-rows: 200px;
grid-row-gap:15px ;
grid-column-gap:15px ;
}

.certification-content img{
   width:70%;
   height:70%;
   padding:2px;
   padding-right:20px;
}
.certification-content img:hover{
   opacity:1;
   transform:scale(1.1);
}
.footer{
   display:grid;
   place-items: center;
   padding:20px;
   background: #ebebeb;
   color:#000;

}
.footer h2{
   font-size: 1.5rem;
   margin-bottom: 1.6rem;
}
.footer-social a{
     color:rgb(10,26,200);
     font-size: 25px;
     margin-left:10px;
     text-align:center;
     line-height:40px;
     background-color: #fff;
     border-radius:50%;
     width:40px;
     height:30px;
}
.copy{
  padding:20px;
  background-color: var(--main-color);
  /* width:100%; */
  color:#fff;
  text-align: center;
  font-weight: 600;
}




/* responive media queries */
@media(max-width:991px){
  header{
    padding: 18px 4%;
  }
  section{
    padding:50px 4%;
  }
  .certification-content{
    display:grid;
    grid-template-columns:repeat(3,250px);
    grid-auto-rows: 200px;
    grid-row-gap:15px ;
    grid-column-gap:15px ;
    }
    
    .certification-content img{
       width:70%;
       height:70%;
       padding:2px;
       padding-right:20px;
    }
}
@media (max-width:768px){
  :root{
    --big-font:2.4rem;
    --medium-font:1.2rem;
  }
  header{
    padding:11px 4%;
  }
  .certification-content{
    display:grid;
    grid-template-columns:repeat(2,250px);
    grid-auto-rows: 200px;
    grid-row-gap:15px ;
    grid-column-gap:15px ;
    }
    
    .certification-content img{
       width:70%;
       height:70%;
       padding:2px;
       padding-right:20px;
    }

  #menu-ico{
    display:initial;
    color:var(--text--color);
  }
  header .navbar{
    position:absolute;
    top:-500px;
    left:0;
    right:0;
    display:flex;
    flex-direction: column;
    background:var(--bg-color);
    box-shadow:0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align:center;
  }
}






